
{{!-- Зробіть, щоб тег body мав темний колір --}}

{{!-- Зробіть, щоб всі елементи на сторінці мали текст білого кольору --}}

<div>
    {{!-- Зробіть, щоб h1 мав червоний колір тексту --}}
    <h1>Червоний колір</h1>

    {{!-- Зробіть, щоб клас green мав зелений колір тексту --}}

    <h2 class="green">Зелений колір</h2>

    <p class="green">Зелений колір</p>

    {{!-- Зробіть, щоб клас blue мав синій колір тексту --}}

    <p id="blue">Синій колір</p>

    {{!-- Зробіть, щоб клас box-content мав червоний фон --}}
    {{!-- Тут вам потрібно використовувати Селектор нащадка --}}

    <div class="box">
        <div class="box-content">
            Контент коробки
        </div>
    </div>

    {{!-- Зробіть через селектор тег.клас зелений фон та білий текст для тегу section, який має клас green  --}}

    <section class="green">
        Зелений фон, але білий текст
    </section>

    {{!-- Зробіть червоний фон для дочерних елементів тега ul --}}
    {{!-- Використовуйте селектор для позначення дочірних елементів ( parent_tag > children_tag ) --}}

    <ul>
        <li>Елемент 1</li>
        <li>Елемент 2</li>
        <li>Елемент 3</li>
    </ul>

    {{!-- Зробіть для тегу span зелений текст --}}
    {{!-- Використовуйте Сестринські селектори --}}

    <div>
        <button class="menu-button">Click</button>
        <span>Open menu</span>
    </div>

    {{!-- Зробіть червоний фон для тегів, які є систринськими тегами до тега button з класом header-button --}}
    {{!-- Використовуйте Сестринські селектори --}}

    <header>
        <span>Logo</span>
        <button class="header-button">Click</button>
        <a href="#">First link</span>
        <strong>Imporant text</strong>
    </header>

    <!--   Зробіть щоб у всіх селекторів з атрибутом green був зелений фон та жовтий колір тексту-->
    <br>
    <header green >
        <span green>Logo</span>
        <button green class="header-button">Click</button>
        <a href="#">First link</span>
            <strong>Imporant text</strong>
    </header>
    <br>

    <!--   Зробіть  фон першого паргарафа синім застосувавши клас .blue_first  -->
    <div class="blue_first">
        <p>Article</p>
        <p>Article</p>
        <p>Article</p>
        <p>Article</p>
    </div>

    <!--   Зробіть  фон всіх парних елементів в паргарафа синім застосувавши клас .parni  -->
    <br>
    <div class="parni">
        <p>Article</p>
        <p>Article</p>
        <p>Article</p>
        <p>Article</p>
    </div>
    <br>

    <!--   Зробіть  Перші літери всіх  <p>   чорним кольором застосувавши клас .first_letter  -->
    <!--   Зробіть щоб виділений текст мав синій фон і жовті літери -->
    <br>
    <div class="first_letter">
        <p>Article</p>
        <p>Article</p>
        <p>Article</p>
        <p>Article</p>
    </div>
    <br>

</div>
